@model PRN231_API.Dtos.LoginForm

@{
    ViewData["Title"] = "Login";
}

<h1>Đăng nhập</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" requied/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Mật khẩu</label>
                <input asp-for="Password" type="password" class="form-control" requied />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <input type="submit" value="Đăng nhập" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
