@model PRN231_API.Dtos.UserDTO

@{
    ViewData["Title"] = "Register";
}

<h1>Đăng ký</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Mật khẩu</label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label">Vai trò</label>
                    <select asp-for="Role" class="form-control">
                        <option value="User">Người dùng</option>
                        <option value="Author">Tác giả</option>
                    </select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <input type="submit" value="Đăng ký" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
